<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4a39c76e-4c39-4c49-b263-62e46d4311f0/resourcegroups/Lemoncode/providers/Microsoft.Web/sites/lemoncode-azure-api-2</ResourceId>
    <ResourceGroup>Lemoncode</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://lemoncode-azure-api-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b7d66ff5-d3ab-408e-b62d-79fb35d5297b</ProjectGuid>
    <PublishUrl>https://lemoncode-azure-api-2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lemoncode-azure-api-2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>