/* HeroesComponent's private CSS styles */

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: 0.1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}


/* Image */

.image {
    display: inline-block;
    outline: 0;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.image.fit {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2.5em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2.5em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}


/* Box */

.box {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 2em;
}

.box.feature {
    padding: 0;
}

.box.feature .inner {
    padding: 4em 2em 3em 2em;
}

.box.feature h2 {
    font-size: 1.35em;
}

.box.feature p {
    margin: 0;
}

.box.feature .image {
    position: relative;
    margin: 0;
}

.box.feature .image img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* Wrappers */

#features-wrapper {
    padding: 3em 0 3em 0;
}
