{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "common": "./src/common",
          "common-app": "./src/common-app",
          "core": "./src/core",
          "dals": "./src/dals",
          "pods": "./src/pods"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  }
}
