back/node_modules
back/dist
back/mongo-data
back/public
back/.editorconfig
back/.env
back/.env.example
back/.env.test
back/.gitignore
back/.prettierrc
back/create-dev-env.js
back/docker-compose.yml

front/node_modules
front/dist
front/.editorconfig
front/.gitignore
front/.prettierrc
front/.env.development
